<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="YouFoodAdminEntities" connectionString="metadata=res://*/YouFoodModel.csdl|res://*/YouFoodModel.ssdl|res://*/YouFoodModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=YouFoodAdmin;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Admin.DataContract.Properties.Settings.YouFoodAdminConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=YouFoodAdmin;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>