<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Local.DataContract.Properties.Settings.YouFoodLocalConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=YouFoodLocal;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Local.DataContract.Properties.Settings.YouFoodAdminConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=YouFoodAdmin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>